<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>๋ก๊ทธ์ธ ์์</title>
	</head>
	<body>
		<headder>
			<h1>ํ</h1>
		</headder>
		<nav>
			<% if(locals.user){ %>
			    <a href="/nickname/edit">๋ณ๋ช๋ณ๊ฒฝ</a>
			    <a href="/logout">๋ก๊ทธ์์</a>
			<% } else { %>
			    <a href="/login">๋ก๊ทธ์ธ</a>
			    <a href="/join">ํ์๊ฐ์</a>
			<% } %>
        </nav>
        <main>
            <% if(locals.user) { %>
                <%=user.nickname%>๋ ํ์ํฉ๋๋ค~~ ๋ฟ๋ฟ๐๐
            <% } %>   
        </main>
	</body>
</html>
